body{
    margin: 0;
}

.container{

    display: flex;
}

.containerB{

    height: 100%;
    flex: 5;
}
.containerStore{
    /* background-color: blanchedalmond; */
    display: flex;
    border:2px solid #000000;
    margin: 15px 8px;
}
.store{
    /* background-color: aqua; */
    flex: 3;
    padding: 10px;
}
.contenedorLogoYnombreDeTienda{
    display: flex;
    margin: -8px;
}

.logo{
    width: 10%;
    height: 10%;
    margin-right: 10px;
}

.direcionTienda{
    display: flex;
    margin: -10px;
}
.horario{
    margin: 3px 3px 20px 3px;
    color: green;
}

.marcadorDeDireccion{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.btn-tienda{
    color:#fff;
    text-decoration: none;
}

.ubication{
    background-color: gray;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
    
}

.masVendido{
    /* background-color: green; */
    flex: 2;
   
}

.imgLoMasVendido{
    display: flex;
}
.img-producto{
    width: 55%;
    height: 100px;
    margin: 10px;
}
.img-publicidad{
    width: 95%;
    height: 150px;
    margin: 10px;
}